<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Test.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Redirect all requests to Test.html" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Test.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
